.header{
    background: yellow;
}
.green{
    background: green;
    color: white;
    text-align: left;
}
table, td{
    border: 1px solid #0ca7e4;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    padding: 6.9px 5px;
}

tr.row-other {
    background: #0a0c0c;
    color: white;
}
.point{
    background: red;
}
.show-ranking{
    position:fixed;
    left: 0;
    top:  0;
   
    background:white;
}
a{
    font-size: 13px !important;
}
.go-detail{
    position: fixed;
    right: -48px;
    top: -20px;
    opacity: 1.7;
    height: 100px;
    width: 200px;
}
.go-detail img{
    height: 80%;
    width: 78%;
}